<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='//cdnjs.cloudflare.com/ajax/libs/vue-material/0.7.1/vue-material.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="app">
      {{ content }}
    </div>
    <script src="//cdn.jsdelivr.net/vue/2.2.6/vue.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue-material/0.7.1/vue-material.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!'
        }
      });
    </script>
  </body>
</html>
